.custom-button {
  height: 40px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background: white;
  padding: 0px;
  margin: 0px 20px 20px 0px;
  // background: #ececec;
  color: #333333;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-bottom: 1px solid #f300b4;
  cursor: pointer;

  &:hover {
    background-color: #f300b4;
    color: White;
  }
}
