.custom-button {
  // min-width: 100px;
  // height: 40px;
  // letter-spacing: 0.5px;
  // line-height: 15px;
  // padding: 0 10px 0 10px;
  margin: 10px 10px 0px 0px;
  font-size: 15px;
  background-color: #ececec;
  color: #333333;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-bottom: 1px solid #f300b4;
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: #f300b4;
    color: White;
    // border: 1px solid black;
  }
}
