.projects-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 20px;

  .title {
    margin-top: 0px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .title {
    margin-bottom: 0px;
  }
}
