.card {
  // background: white;
  background: red;
  padding: 40px;
  margin: 20px 80px 40px;
  border-radius: 3px;
}

.title {
  h2::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
  }
  h2 {
    font-size: 36px;
    margin: 0 0 40px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #f300b4;
  }
}
