.project {
  border: 1px solid #ececec;
  border-radius: 3px;
  // background: #ececec;

  .image > img {
    width: 100%;
    padding: 0px;
  }

  .content {
    padding: 0px 20px 20px;
  }

  .title > h3 {
    color: #f300b4;
    font-size: 24px;
    margin: 0;
  }
  .tech-used {
    font-style: italic;
    font-size: 16px;
  }

  .text > p {
  }

  .buttons {
    border: none;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
}
