.project {
  background: lightblue;

  h4 {
    margin: 0 12px 0 0;
  }

  .name {
    background: lightsalmon;
  }

  .image {
    background: lightgreen;
  }

  .image > img {
    width: 100%;
  }

  .text {
    background: lightyellow;
  }
}
