.project {
  // border: 1px solid #000;

  .image {
  }

  .image > img {
    width: 100%;
  }

  .title > h3 {
    color: #f300b4;
    font-size: 24px;
    margin: 0;
  }
  .tech-used {
    font-style: italic;
  }

  .text > p {
    font-size: 18px;
  }
}
