.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ececec;
  // background-image: linear-gradient(
  //     rgba(243, 0, 178, 0.317),
  //     rgba(243, 0, 178, 0.105)
  //   ),
  //   url("../../assets/stars.jpg");
  // background-size: cover;
  // background-position: center;

  .main {
    display: grid;
    grid-template-areas:
      "header header header"
      "nav article ads"
      "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    height: 80%;
    width: 80%;
    margin: 0;
    opacity: 0.8;

    header,
    footer,
    article,
    nav,
    div {
      text-align: center;
      padding: 20px;
      background: #b0b5b3;
      // background: #f300b4;
      border-radius: 3px;
    }

    article > h1 {
      padding-top: 80px;
      // color: white;
      color: #333;
      font-style: italic;
      font-size: 68px;
      line-height: 1.2;
    }

    @media (max-width: 600px) {
      article > h1 {
        font-size: 32px;
        margin: 20px;
      }
    }

    .icons {
      display: flex;
      justify-content: center;

      .icon {
        justify-content: space-between;
        padding: 20px 20px;
        text-decoration: none;
        color: #333;
        // color: white;
      }

      .icon:hover {
        color: #f300b4;
      }
    }

    #pageHeader {
      grid-area: header;
    }
    #pageFooter {
      grid-area: footer;
    }
    #mainArticle {
      grid-area: article;
    }
    #mainNav {
      grid-area: nav;
    }
    #siteAds {
      grid-area: ads;
    }
  }
}
