.icons {
  display: flex;

  .icon {
    justify-content: space-around;
    padding: 20px 20px;
    text-decoration: none;
    color: #555;
  }

  .icon:hover {
    color: #f300b4;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ececec;
  // background: url("../../assets/wave.svg") bottom no-repeat;
  // background-size:
  height: 100%;

  .title > h1 {
    color: #555;
    font-style: italic;
    font-size: 52px;
    line-height: 0.5;
    margin: 40px;
  }

  @media (max-width: 600px) {
    .title > h1 {
      font-size: 32px;
      margin: 20px;
    }
  }

  .contact {
    color: #f300b4;
    background: white;
    text-decoration: none;
    min-width: 100px;
    letter-spacing: 0.5px;
    line-height: 15px;
    padding: 20px 40px;
    font-size: 48px;
  }
  .contact:hover {
    background: #f300b4;
    color: white;
  }
}
