.header {
  text-align: center;
  padding: 60px 0px;

  h1 {
    color: white;
    font-size: 60px;
    line-height: 0.5;
  }

  h4 {
    color: white;
    font-family: "Lato", sans-serif;
    line-height: 0;
  }
}
